<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<jmxConfigurator/>

	<property name="LOG_HOME" value="logs" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c]:%L - %m%n</Pattern>
		</encoder>
	</appender>

	<!-- The FILE and ASYNC appenders are here as examples for a production 
		configuration -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c]:%L - %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<logger name="com.dinglicom.test" level="${logback.loglevel}" />
	
	<logger name="org.apache" level="WARN" />
	<logger name="org.springframework" level="WARN" />com.netflix.servo
	<logger name="de.codecentric.boot.admin" level="INFO" />
	<logger name="com.netflix.servo" level="INFO" />
	<logger name="sun.net.www.protocol" level="INFO" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="net.sf.ehcache" level="INFO" />
	<logger name="org.jboss" level="INFO" />
	<logger name="com.netflix.zuul" level="INFO" />
	<logger name="springfox.documentation" level="INFO" />
	<logger name="javax.activation" level="INFO" />
	<logger name="com.zaxxer.hikari" level="INFO" />
	<logger name="javax.xml.bind" level="INFO" /> 
	<logger name="sun" level="INFO" />
	<logger name="com.sun.xml." level="INFO" /> 
	<!-- <logger name="sun." level="INFO" />
	<logger name="" level="INFO" /> 
	<logger name="" level="INFO" /> 
	<logger name="" level="INFO" /> 
	<logger name="" level="INFO" /> 
	<logger name="" level="INFO" /> -->
	

	<!-- <logger name="org.springframework.boot.context.web.ErrorPageFilter"> 
		<level value="OFF" /> </logger> -->

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<root level="${logback.loglevel}">
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="ASYNC" /> -->
	</root>

</configuration>
