<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>陕建集团办公项目物资管理系统</title>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="U14Studio.com Product Prototype Template" />
<meta name="author" content="service@u14studio.com" />
<title>陕建集团办公项目物资管理系统</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"></link>
<!-- easyui core CSS -->
<link href="../../static/js/easyui/themes/gray/easyui.css" rel="stylesheet" media="screen" th:href="@{/js/easyui/themes/gray/easyui.css}" />
<link href="../../static/js/easyui/themes/color.css" rel="stylesheet" media="screen" th:href="@{/js/easyui/themes/color.css}" />
<link href="../../static/js/easyui/themes/icon.css" rel="stylesheet" media="screen" th:href="@{/js/easyui/themes/icon.css}" />
<!-- Custom styles for this template -->
<link href="../../static/css/common.css" rel="stylesheet" media="screen" th:href="@{/css/common.css}" />
<script src="../../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script src="../../static/js/easyui/jquery.easyui.min.js" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
<script src="../../static/js/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script src="../../static/js/easyui/extend.validate.js" th:src="@{/js/easyui/extend.validate.js}"></script>
<script src="../../static/js/sjjt.common.js" th:src="@{/js/sjjt.common.js}"></script>
<script src="../../static/js/custom/message.js" th:src="@{/js/custom/message.js}"></script>
<script src="../../static/js/custom/system/codeData.js" th:src="@{/js/custom/system/codeData.js}"></script>
<script type="text/javascript">
	$(function() {
		codeDataListInit();
	});
</script>
</head>
<body style="padding:1px;">
	<div class="easyui-layout" data-options="fit:true">

		<div data-options="region:'west',split:true" title="代码分类"
			style="width: 210px;">
			<div class="easyui-panel" style="margin: 5px; width: 180px;" data-options="border:false">
				<table>
					<tr>
						<td><a href="javascript:void(0);" id="btnAddType"
							class="easyui-linkbutton btn-separator" data-options="iconCls:'icon-add',plain:'true'">新增</a></td>
						<td>
							<div class="datagrid-btn-separator"></div>
						</td>
						<td><a href="javascript:void(0);" id="btnEditType"
							class="easyui-linkbutton btn-separator" data-options="iconCls:'icon-edit',plain:'true'">编辑</a></td>
					</tr>
				</table>
			</div>
			<ul id="treeUl" class="easyui-tree" data-options="checkbox:false,border:true" ></ul>
		</div>

		<div data-options="region:'center',title:'代码信息'">
			<div class="easyui-layout" data-options="fit:true">
				<div class="minWidth" data-options="region:'center',border:false">
				<form id="queryForm"><input type="hidden" id="codeType" name="codeType"/> </form>
					<table id="dataList" class="easyui-datagrid"
						data-options="rownumbers:true,singleSelect:false,toolbar:'#toolbar',fit:true,border:false">
						<thead>
							<tr>
								<th data-options="field:'id',width:'5%',checkbox:true"></th>
								<th data-options="field:'dataType',width:'30%'">编码</th>
								<th data-options="field:'dataName',width:'50%'">名称</th>
								<th data-options="field:'operate',width:'15%',align:'center',formatter:operateFormatter">操作</th>
							</tr>
						</thead>
					</table>
					<div id="toolbar">
						<table>
							<tr>
								<td><a href="javascript:void(0);" id="btnAdd"
									class="easyui-linkbutton btn-separator" data-options="iconCls:'icon-add',plain:'true'">新增</a></td>
								<td>
									<div class="datagrid-btn-separator"></div>
								</td>
								<td><a href="javascript:void(0);" id="btnDeletes"
									class="easyui-linkbutton btn-separator" data-options="iconCls:'icon-remove',plain:'true'">删除</a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="minWidth" data-options="region:'south',border:false"
					style="height: 33px;">
					<div class="easyui-panel"
						style="background-color: rgb(244, 244, 244); width: 100%;">
						<div class="easyui-pagination" id="pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>