<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>陕建集团办公项目物资管理系统</title>
 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="U14Studio.com Product Prototype Template"/>
    <meta name="author" content="service@u14studio.com"/>
    <title>陕建集团办公项目物资管理系统</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"></link>
    <!-- easyui core CSS -->
    <link href="../../static/js/easyui/themes/gray/easyui.css" rel="stylesheet" media="screen" th:href="@{/js/easyui/themes/default/easyui.css}"/>
    <link href="../../static/js/easyui/themes/color.css" rel="stylesheet" media="screen" th:href="@{/js/easyui/themes/color.css}" />
    <link href="../../static/js/easyui/themes/icon.css" rel="stylesheet" media="screen" th:href="@{/js/easyui/themes/icon.css}" />
    <!-- Custom styles for this template -->
    <link href="../../static/css/default.css" rel="stylesheet" media="screen" th:href="@{/css/default.css}"/>
    <script src="../../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../../static/js/easyui/jquery.easyui.min.js" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script src="../../static/js/sjjt.index.js" th:src="@{/js/sjjt.index.js}"></script>
</head>
<body class="easyui-layout">
	<noscript>
		<div
			style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px; width: 100%; background: white; text-align: center;">
			<img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
		</div>
	</noscript>
	<div data-options="region:'north',border:false"
		style="overflow: hidden; height: 50px; background: url(/resources/images/top.jpg) #7f99be repeat-x center 50%; line-height: 20px; color: #fff; font-family: Verdana, 微软雅黑, 黑体">
		<span style="float: right; padding-right: 20px; margin-top: 10px;"
			class="head">欢迎 <font style="color: #FFA700;" th:text="${#httpServletRequest.remoteUser}"></font>
			<a href="javascript:void(0)"
			id="loginOut" onclick="logout()">安全退出</a></span> <span
			style="padding-left: 10px; margin-top: 5px; font-size: 16px; float: left;"><img
			src="/resources/images/logo.png" width="158px" height="45px" align="absmiddle" />
			X系统</span>

	</div>
	<div data-options="region:'south'" style="height: 30px; background: #F8F8F8 ;">
		<div class="footer">CopyRight © 2016 陕建集团有限责任公司</div>
	</div>
	<div data-options="region:'west',hide:true" title="导航菜单" style="width: 170px;"
		id="west">
		<div id='wnav' class="easyui-accordion" data-options="fit:true,border:false">
			<div th:each="parentMenu,iterationStatus : ${menu.children}" style="width: 163px;" class="panel">
				<div style="width: 153px; height: 15px;" class="panel-header accordion-header accordion-header-selected">
					<div class="panel-title panel-with-icon" th:text="${parentMenu.name}"></div>
					<div class="panel-icon icon icon-sys"></div>
					<div class="panel-tool">
						<div class="panel-tool-collapse"></div>
					</div>
				</div>
				<div style="width: 100%; height: 100%; display: block;"	class="accordion-body" title="">
					<ul>
						<li th:each="childMenu,iterationStatus : ${parentMenu.children}">
							<div>
								<a href="javascript:void(0)"
									th:rel='${childMenu.url}'
									th:title='${childMenu.name}'><span class="icon icon-nav">&nbsp;</span><span
									class="nav" th:text="${childMenu.name}"></span></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="mainPanle" data-options="region:'center'"
		style="background: #eee; overflow-y: hidden">
		<div id="tabs" class="easyui-tabs" data-options="fit:true"  border="false">
			<div id="home" title="欢迎使用" data-options="fit:true" style="overflow: hidden; background-color: rgb(242, 242, 242);">
				<iframe id="defaultFrame" data-options="fit:true"  width="100%" frameborder="0" scrolling="auto"></iframe>
			</div>
		</div>
	</div>
</body>
</html>