<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.page.title}">Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
</head>

<body>

<form class="form-narrow form-horizontal" action="/login" method="post" th:action="@{/login}">
    <th:block th:if="${param.error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message='登录不成功，请重试')" th:text="#{login.alert}">Alert</div>
    </th:block>
    <fieldset>
        <legend th:text="#{login.title}">Please Sign In</legend>
        <div class="form-group">
            <label for="username" class="col-lg-2 control-label" th:text="#{login.account}">Phone</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="username" placeholder="电话号码" name="username" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label" th:text="#{login.password}">password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" placeholder="密码" name="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_spring_security_remember_me" th:text="#{login.remember}"> Remember me</input>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" th:text="#{login.login}">Login</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>